.container {
  /* margin: 0.5em; */
  margin: 1em 0;
  border: 3px solid white;
}

.line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0.7em;
  text-transform: uppercase;
  font-size: 1.1em;
  text-align: left;
}

.line-even {
  composes: line;
  background: #F2F3F4;
  color: #79808D;
}
.line-odd {
  composes: line;
  background: #BBBEC5;
  color: white;
}

.log-action {
  width: 3em;
}

.log-description {
  flex-grow: 7;
}

.log-date {
  width: 12em;
  text-align: right;
}

@media only screen and (max-width: 500px) {
  .log-action {
    display: none;
  }
}
