{
  "presets": [["env"], "stage-0", "react"],
  "plugins": [
    "react-hot-loader/babel",
    ["react-css-modules", {
        "handleMissingStyleName": "warn"
      }
    ],
    "dynamic-import-node"
  ]
}
