{
  "presets": [["env", { "modules": false }], "stage-0", "react"],
  "plugins": [
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": "css"
    }],
    "react-hot-loader/babel",
    "react-css-modules"
  ]
}
