.flex-div {
  display: flex;
  flex-flow: row wrap;
}

.controls-column {
  width: 240px;
}

.item-column-container {
  flex-grow: 2;
  margin: 14px;
  margin-right: 0;
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  border: 2px solid white;
  align-items: stretch;
}

@media only screen and (max-width: 800px) {
  .item-column-container {
    flex-flow: column nowrap;
  }
}

@media only screen and (max-width: 550px) {
  .item-column-container {
    margin-right: 14px;
  }
  .flex-div {
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }
}

.item-column {
  width: 300px;
}
